* { padding: 0; margin: 0; }

.header, .promo { font-family: "Sintony", sans-serif; font-size: 16px; }

.container { max-width: 1180px; margin: 0 auto; }

.promo-banner { width: 100%; }

.promo-title { font-size: 30px; text-transform: uppercase; font-weight: normal; position: absolute; top: 281px; left: 349px; padding: 15px; background: #63c6ae; }

.promo-title a { color: #fff; text-decoration: none; }

.promo-text { font-size: 17px; font-weight: normal; position: absolute; top: 366px; left: 367px; padding: 16px; display: block; width: 500px; text-align: center; background: #242a2c; color: #fff; }

.slider { background: #63c6ae; }

.promo-button { font-size: 20px; border: 2px solid #fff; text-transform: uppercase; padding: 10px; position: absolute; top: 485px; left: 549px; border-radius: 3px; }

.promo-button a { text-decoration: none; color: #fff; }

.columns { font-family: "Helvetica Neue", Arial, sans-serif; padding-top: 36px; }

.border { border-left: 1px solid #dbe1e7; }

.columns-title { font-size: 21px; color: #737c85; }

.columns-text { font-size: 14px; color: #b3babf; }

.two-columns { background: #f9f9f9; font-family: "Helvetica Neue", Arial, sans-serif; }

.slider { padding: 20px; }
